.grocery-overview-container {
  background-image: url('../../assets/grocery_bg.png');
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-color: #f6faf5;
  box-shadow: 0 2px 10px rgba(15, 23, 42, 0.04);
}

.view-grocery-button {
  padding: 8px 0;
  color: #4ac258;
  border-radius: 12px;
  background-color: #e0f7e3;
}