.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.nav-container p,
.nav-container svg {
  color: var(--secondary-color);
  stroke: var(--secondary-color);
}

.active-nav p,
.active-nav svg {
  color: var(--accent-color);
  stroke: var(--accent-color);
}